<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/cryptocharts"></script>
</head>

<body>

	<div id="test_1">
		<p>Below is a cryptocurrency price comparison chart (90 days)</p><br><br>
	</div>

	<div id="mychart">

	</div>

	<script>
			
			CryptoCharts.roiComparison({
				chart_id: "mychart",
				cryptocompare_tickers: ["BTC","LTC","XMR","FIRO","ZEC"],
				last_days: 90
			});

	</script>

</body>